*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container header{
    display: flex;
    border-bottom: 1px solid rgb(223, 214, 214);
    background-color: black;
    border: none;
}

.container nav ul{
    display: flex;
    margin-left: 450px;
    margin-top: 30px;
    list-style: none;
    padding-bottom: 20px;
    color: white;
}

.container nav ul li{
    margin-left: 50px;
}

.logo img{
    margin-top: 10px;
    margin-left: 20px;
    
}

.logo1{
    text-align: center;
    background-color: black;
    color: white;
    height: 600px;
}

.logo1 h1{
    padding-top: 15%;
    text-transform: capitalize;
    font-size: 60px;
    font-family: "Roboto", sans-serif;
    
}

.logo1 p{
    padding-top: 5px;
    font-size: 18px;
    font-weight: 500;
    width: 900px;
    margin-left: 15%;
    font-family: "Roboto", sans-serif;
}

.logo1 button{
    margin-top: 35px;
    height: 50px;
    width: 150px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
}

.banner {
  width: 150px;
  height: 80px;
  background-color: #d3d4da;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  color: white;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
}


.banner::after {
  content: "";
  position: absolute;
  top: 0;
  right: -39px;
  width: 0;
  height: 0;
  border-top-right-radius: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 40px solid #d3d4da;
}

.cont p{
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    
}

.cont #hai{
    font-size: 16px;
    font-weight: 500;
    width: 900px;
    margin-left: 15%;
    padding-top: 15px;
}

.con{
    display: flex;
    gap: 50px;
    margin-left: 15%;
    padding-top: 5%;
}

.cont1 img{
    height: 65px;
    margin-top: -20px;
    margin-left: 40%;
    
}

.cont1{
    border: 1px solid gray;
    height: 250px;
    width: 280px;
}

.cont1 p{
    text-align: center;
    padding-top: 20px;
}

.cont1 #hai{
    font-size: 16px;
    font-weight: 500;
    width: 250px;
    padding-top: 13px;
    margin-left: 10px;
    text-align: justify;
}

.container2 .banner {
  width: 150px;
  height: 80px;
  background-color: #d3d4da;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  color: white;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 10%;
}


.container2 .banner::after {
  content: "";
  position: absolute;
  top: 0;
  right: -39px;
  width: 0;
  height: 0;
  border-top-right-radius: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 40px solid #d3d4da;
}

.cont2 p{
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    padding-top: 20px;
}

.cont2 img{
    height: 500px;
    margin-left: 32%;
    padding-top: 40px;
}

.container3 .banner {
  width: 150px;
  height: 80px;
  background-color: #d3d4da;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  color: white;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 10%;
}


.container3 .banner::after {
  content: "";
  position: absolute;
  top: 0;
  right: -39px;
  width: 0;
  height: 0;
  border-top-right-radius: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 40px solid #d3d4da;
}

.container3{
    background-color: black;
    height: 900px;
    color: white;
    
}

.cont3 p{
    text-align: center;
    width: 700px;
    margin-left: 25%;
    margin-top: 25px;
    font-size: 20px;
}

.cont4 p{
    margin-top: 30px;
    width: 600px;
    text-align: justify;

}

.week{
    border: 1px solid  #dfe4ec;
    width: 700px;
    padding-left: 50px;
    margin-left: 28%;
    border-top: none;
    border-bottom: none;
    border-right: none; 
    
}

i{
    position: absolute;
    left: 385px;
}

.container4 .banner {
  width: 150px;
  height: 80px;
  background-color: #d3d4da;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  color: white;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  
}


.container4 .banner::after {
  content: "";
  position: absolute;
  top: 0;
  right: -39px;
  width: 0;
  height: 0;
  border-top-right-radius: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 40px solid #d3d4da;
}

.cont5 p{
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    margin-left: 25%;
    width: 800px;
}

.foundimg img{
    width: 500px;
    height: 330px;
    margin-top: 30px;
}

.car h3{
    font-size: 22px;
    width: 450px;
    margin-top: 10px;
}
.car h4{
    margin-top: 10px;
    font-size: 18px;
}
.car p{
    width: 500px;
    margin-bottom: 5px;
}
.car{
    margin-top: 30px;
    line-height: 27px;
}
.found{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}
.ai h4{
     margin-top: 20px;
    font-size: 18px;
}
.ai p{
    width: 900px;
    margin-top: 10px;
}
.ai{
    margin-left: 11%;
}

.learn h2{
    font-size: 22px;
    width: 450px;
    margin-top: 10px;

}
.learn p{
        width: 500px;
    margin-top: 10px;
     line-height: 27px;
}
.learn{
    margin-top: 50px;
}
.personimg img{
    width: 500px;
}
.person{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.banner {
  width: 150px;
  height: 80px;
  background-color: #d3d4da;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  color: white;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 10%;
}


.banner::after {
  content: "";
  position: absolute;
  top: 0;
  right: -39px;
  width: 0;
  height: 0;
  border-top-right-radius: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 40px solid #d3d4da;
}

.container6{
    background-color: black;
    height: 500px;
    color: white;
}

.txt1 img{
   margin-left: 13%;
    height: 300px;
    padding-top: 20px;
}
.container7 .banner {
  width: 150px;
  height: 80px;
  background-color: #d3d4da;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  color: white;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  
}


.container7 .banner::after {
  content: "";
  position: absolute;
  top: 0;
  right: -39px;
  width: 0;
  height: 0;
  border-top-right-radius: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 40px solid #d3d4da;
}

.txt2 h3{
    margin-left: 20%;
    font-size: 40px;
}

.txt2 p{
    margin-left: 20%;
    font-size: 18px;
    width: 350px;
}

.con4{
    display: flex;
    margin-left: 10%;
    padding-top: 8%;
    
}

.txt3{
    padding-left: 20%;
}

input[type=text]{
    width: 350px;
    height: 40px;
    padding-left: 20px;
    text-transform: capitalize;
    margin-top: 10px;
    margin-bottom: 10px;
}
input[type=submit]{
    height: 35px;
    width: 100px;
    text-transform: capitalize;
    margin-top: 20px;
    font-size: 15px;
    border-radius: 10px;
    background-color: black;
    color: white;
    border: none;
}
textarea{
    padding-left: 30px;
    padding-top: 20px;
    font-size: 14px;
    text-transform: capitalize;
    margin-top: 10px;
}
label{
    text-transform: capitalize;
    padding-top: 20px;
}

.container8{
    background-color: black;
    height: 300px;
    color: white;
    margin-top: 10%;
}

.container8 img{
    margin-left: 44%;
    padding-top: 5%;
}

.container8 p{
    margin-left: 33%;
    padding-top: 1%;
    font-size: 30px;

}

.container8 #hi{
    font-size: 14px;
    margin-left: 37%;
}

@media(max-width:768px){
    
.container header{
    display: inline-block;
    border-bottom: 1px solid rgb(223, 214, 214);
    background-color: black;
    border: none;
    width: 453px;
    
}

.container nav ul{
    display: inline;
    margin-left: 450px;
    margin-top: 30px;
    list-style: none;
    padding-bottom: 20px;
    color: white;
}

.container nav ul li{
    margin-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo img{
    margin-top: 10px;
    margin-left: 20px;
    
}

.logo1{
    text-align: center;
    background-color: black;
    color: white;
    height: 500px;
    width: 453px;
}

.logo1 h1{
    padding-top: 15%;
    text-transform: capitalize;
    font-size: 40px;
    font-family: "Roboto", sans-serif;
    width: 450px;
    
}

.logo1 p{
    padding-top: 5px;
    font-size: 18px;
    font-weight: 500;
    width: 400px;
    margin-left: 5%;
    font-family: "Roboto", sans-serif;
}

.logo1 button{
    margin-top: 30px;
    height: 50px;
    width: 150px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
}

.banner {
  width: 150px;
  height: 80px;
  background-color: #d3d4da;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  color: white;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
}


.banner::after {
  content: "";
  position: absolute;
  top: 0;
  right: -38px;
  width: 0;
  height: 0;
  border-top-right-radius: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 40px solid #d3d4da;
}

.cont p{
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    padding-top: 10px;
    width: 350px;
    margin-left: 10%;
}

.cont #hai{
    font-size: 16px;
    font-weight: 500;
    width: 300px;
    margin-left: 2%;
    padding-top: 10px;
}

.con{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-left: 20%;
    padding-top: 10%;
}

.cont1 img{
    height: 65px;
    margin-top: -20px;
    margin-left: 40%;
    
}

.cont1{
    border: 1px solid gray;
    height: 250px;
    width: 280px;
}

.cont1 p{
    text-align: center;
    padding-top: 20px;
}

.cont1 #hai{
    font-size: 16px;
    font-weight: 500;
    width: 250px;
    padding-top: 13px;
    margin-left: 10px;
    text-align: justify;
}

.container2 .banner {
  width: 150px;
  height: 80px;
  background-color: #d3d4da;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  color: white;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 10%;
}


.container2 .banner::after {
  content: "";
  position: absolute;
  top: 0;
 right: -38px;
  width: 0;
  height: 0;
  border-top-right-radius: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 40px solid #d3d4da;
}

.cont2 p{
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    padding-top: 20px;
    margin-left: 5%;
}

.cont2 img{
    height: 450px;
    margin-left: 5%;
    padding-top: 40px;
    width: 400px;
}

.container3 .banner {
  width: 150px;
  height: 80px;
  background-color: #d3d4da;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  color: white;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 1%;
}


.container3 .banner::after {
  content: "";
  position: absolute;
  top: 0;
  right: -38px;
  width: 0;
  height: 0;
  border-top-right-radius: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 40px solid #d3d4da;
}

.container3{
    background-color: black;
    height: 1100px;
    color: white;
    width: 453px;
    overflow: hidden;
    margin-top: 10%;
}

.cont3 p{
    text-align: center;
    width: 400px;
    margin-left: 5%;
    margin-top: 25px;
    font-size: 18px;
}

.cont4 p{
    margin-left: 4%;
    margin-top: 30px;
    width: 350px;
    text-align: justify;
    font-size: 16px;
}

.week{
    border: 1px solid  #dfe4ec;
    width: 700px;
    padding-left: 1%;
    margin-left: 10%;
    border-top: none;
    border-bottom: none;
    border-right: none; 
    
}

i{
    position: absolute;
    left: 9%;
}

.container4 .banner {
  width: 150px;
  height: 80px;
  background-color: #d3d4da;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  color: white;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  
}


.container4 .banner::after {
  content: "";
  position: absolute;
  top: 0;
  right: -38px;
  width: 0;
  height: 0;
  border-top-right-radius: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 40px solid #d3d4da;
}

.cont5 p{
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    margin-left: 5%;
    width: 400px;
    padding-top: 5%;
}

.foundimg img{
    width: 400px;
    height: 330px;
    margin-top: 25px;
    margin-left: 1%;
}

.car h3{
    font-size: 20px;
    width: 100%;
    margin-top: 10px;
    text-align: center;
}
.car h4{
    margin-top: 15px;
    font-size: 18px;
    margin-left: 1%;
    text-align: center;
}
.car p{
    width: 400px;
    margin-bottom: 5px;
    margin-left: 1%;
    font-size: 18px;
    padding-top: 3%;
    text-align: justify;
}
.car{
    margin-top: 1%;
    line-height: 27px;
}
.found{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin-left: 5%;
}
.ai h4{
     margin-top: 20px;
    font-size: 18px;
    text-align: center;
    margin-left: 1%;
}
.ai p{
    width: 380px;
    margin-top: 10px;
    font-size: 18px;
    text-align: justify;
}
.ai{
    margin-left: 10%;
    line-height: 27px;
}

.learn h2{
    font-size: 22px;
    width: 410px;
    margin-top: 10px;
    margin-left: 3%;

}
.learn p{
    width: 380px;
    margin-top: 10px;
    line-height: 27px;
    margin-left: 3%;
    text-align: justify;
    font-size: 18px;
}
.learn{
    margin-top: 40px;
}
.personimg img{
    width: 400px;
}
.person{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin-left: 5%;
}

.banner {
  width: 150px;
  height: 80px;
  background-color: #d3d4da;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  color: white;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 10%;
}


.banner::after {
  content: "";
  position: absolute;
  top: 0;
  right: -38px;
  width: 0;
  height: 0;
  border-top-right-radius: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 40px solid #d3d4da;
}

.container6{
    background-color: black;
    height: 1200px;
    color: white;
    width: 453px;
}

.cont{
    padding-top: 5%;
}

.cont #hai{
    padding-top: 5%;
    margin-left: 6%;
    font-size: 18px;
    width: 400px;
}

.txt1 img{
   margin-left: 25%;
    height: 300px;
    padding-top: 20px;
}
.container7 .banner {
  width: 150px;
  height: 80px;
  background-color: #d3d4da;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  color: white;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  
}


.container7 .banner::after {
  content: "";
  position: absolute;
  top: 0;
  right: -38px;
  width: 0;
  height: 0;
  border-top-right-radius: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 40px solid #d3d4da;
}

.txt2 h3{
    margin-left: 1%;
    font-size: 40px;
}

.txt2 p{
    margin-left: 1%;
    font-size: 18px;
    width: 370px;
    text-align: justify;
    padding-top: 4%;
}

.con4{
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
    padding-top: 8%;
    
}

.txt3{
    padding-left: 1%;
    padding-top: 10%;
}

input[type=text]{
    width: 320px;
    height: 45px;
    padding-left: 15px;
    text-transform: capitalize;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 3%;
}
input[type=submit]{
    height: 35px;
    width: 100px;
    text-transform: capitalize;
    margin-top: 20px;
    font-size: 15px;
    border-radius: 10px;
    background-color: black;
    color: white;
    border: none;
    margin-left: 3%;
}
textarea{
    padding-left: 30px;
    padding-top: 20px;
    font-size: 14px;
    text-transform: capitalize;
    margin-top: 12px;
    margin-left: 3%;
    width: 310px;
    height: 70px;
}
label{
    text-transform: capitalize;
    padding-top: 20px;
}

.container8{
    background-color: black;
    height: 300px;
    color: white;
    margin-top: 10%;
    width: 453px;
}

.container8 img{
    margin-left: 40%;
    padding-top: 8%;
}

.container8 p{
    margin-left: 8%;
    padding-top: 1%;
    font-size: 28px;

}

.container8 #hi{
    font-size: 16px;
    margin-left: 13%;
}



}
